body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0%;
}

.background-picture {
   background-image: url('https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
   width:30vw;
   height:100vh; 
}

.odin-side-bar {
    display: flex;
    justify-content: center;
    opacity: .4;
    background-color: black;
    margin-top: 180px;
}

.side-bar-logo {
    height: 110px;
    width: 100px;
}

.odin-side-bar p {
    color: white;
    font-size: 80px;
    font-family: 'Aclonica';
    font-weight: bold;
    margin: 10px;
}

.photo-ref {
    color: white;
    text-align: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60vh;
    opacity: 0.7;
}

a:visited, a:hover, a:focus {
    text-decoration: none;
    color: white;
}

.letsdothis {
    border: none;
    background-color: #F8F8F8;
    margin-bottom: 0;
}

.form-container {
    background-color: rgb(232,232,232);
    width: 50vw;
    height: 100vh;
    display: block;
}

.form-container p {
    color: black;
    font-size: 20px;
    font-family:'Comic Sans MS', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

fieldset {
    border: none;
}

form {
    background-color: #F8F8F8;
    width: 100%;
  
}

.name-info, .contact-info, .password-info {
   display: inline-flex;
   flex-direction: column;
}

#have-account {
    font-size: 14px;
    margin: 10px 20px;
}

#login-link:hover {
    color: #00FF00;
}

#login-link {
    color: #2F4F4F;
}

button {
    font-size: 14px;
    color: white;
    background-color: #2F4F4F;
    border-radius: 6px;
    border: none;
    padding: 10px 30px;
    margin: 10px 20px;
}

button:hover {
    background-color: lightgreen;
}

.text-above-form {
    margin: 40px 30px;
    margin-top: 130px;
}