body {
    background: linear-gradient(89.9deg, rgba(178, 253, 238, 0.96) -8.1%, rgb(207, 244, 254) 26.3%, rgba(207, 244, 254, 0.48) 47.5%, rgba(254, 219, 243, 0.63) 61.5%, rgb(254, 219, 243) 78.7%, rgb(254, 207, 210) 109.2%);
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    padding: 0 0;
    height: 100%;
    font-family: "Comic Sans";
}

.container {
    height: 40rem;
    width: 70rem;
    border: 4px white solid;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 6em;
}

h1 {
    font-size: 3em;
    margin-top: 1.5em;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 1.5em;
    margin-top: 1em;
}

img {
    height: 25em;
    width: 35em;
    margin-top: 7em;
}

#user-icon, #phone-icon, #email-icon, #lock-icon {
    height: 1em;
    width: 1em;
    margin: 0 0;
}

#name-box {
    display: flex;
    flex-direction: row;
}

.firstName-container, .lastName-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

p {
    margin-top: 1em;
    font-size: 15px;
}

button {
    width: 24rem;
    font-size: 1em;
    margin-top: 1em;
}

a:active, a:hover {
    color:blue;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2em;
    text-align: center;
}

